<!DOCTYPE html>

<html>

  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <div class="span10 offset1">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>City</th>
          <th>Date</th>
          <th>Title</th>
          <th>Link</th>
          <th>Location</th>
          <th>Email?</th>
        </tr>
      </thead>
      <tbody>   
        
        <% unless @posts.empty? %>
          <% @posts.each do |post| %>
            <%= raw(post) %>
          <% end %>
        <% end %>
      </tbody>
      <table>
    </div>
  </body>

</html>