
<br>
<br>

<div class="span10">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Link</th>
      <th>Location</th>
      <th>Email it to me</th>
    </tr>
  </thead>
  <tbody>   
    <%= @posts.join() %>
  </tbody>
  <table>
</div>
