
<br>
<br>

<div class="span10 offset1">
  <table class="table table-striped">
  <thead>
    <caption><h2>Rails Job Finder For <%= @time %></h2></caption>
    <tr>
      <th>City</th>
      <th>Date</th>
      <th>Title</th>
      <th>Link</th>
      <th>Location</th>
      <th>Email?</th>
    </tr>
  </thead>
  <tbody>   
    
    <% unless @posts.empty? %>
      <% @posts.each do |post| %>
        <%= raw(post) %>
      <% end %>
    <% end %>
  </tbody>
  <table>
</div>
