<div ng-controller="JobsCtrl">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Programming Job Scraper</h1>

      <form class="row" role="form">
        <div class="col-md-11 col-search-bar">
          <input class="form-control" placeholder="Search" id="search-bar" type="text" ng-model="search_term.$">
        </div>
        <div class="col-md-1 col-search-btn">
          <button ng-click="getJobs(search_term)" class='btn btn-success'>Search</button>
        </div>
      </form>

      <div ng-show="loading">
        <br>
        <br>
        <br>
        <h2 class="text-center">Loading... It can take awhile... like 20 mins long...</h2>
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>

      <div class="text-center" ng-hide="searched || loading">
        <br>
        <br>
        <br>
        <h1>
          Unfortunately, the app does not scrape Craigslist on Heroku.
          <br>
          <small>Craiglist will run on your locahost. Just comment in the code in <a href="https://github.com/thejourneydude/craigslistscreenscraper/blob/master/lib/scraper.rb"><span class="red">scraper.rb</span></a>.</small>
        </h1>

      </div>

      <div ng-show="searched">
        <hr>

        <br>

        Filter Job results by name: <input type="checkbox"  ng-model="showJobFilter">

        <br>

        <br>

        <input class="form-control" placeholder="MongoDB..." ng-show="showJobFilter" type="text" ng-model="jobFilter">
      </div>

      <br>
    </div>
  </div>

  <div class="clearfix"></div>

  <div ng-show="searched" class="col-md-10 col-md-offset-1">
    <table class="table">
      <tr ng-repeat="job in jobs | filter:jobFilter">
        <td jobdate></td>
        <td jobtitle></td>
        <td joblocation></td>
        <td jobtype></td>
        <td jobdelete></td>
      </tr>
    </table>
  </div>
</div>
