/* Necessary Changes */
:focus {outline:none;}
::-moz-focus-inner {border:0;}



.center {
  text-align: center;
}


.form-box {
  margin-top:20px;
}

.alert-box {
  height:200px;
  margin-top:80px;
}

/* footer */
footer {
  margin-top: 705px;
  padding-top: 5px;
  border-top: 1px solid gray;
  margin-left: 10px;
  margin-right: 10px;
  color: gray;
}

footer  a {
  color: gray;
}
      
footer a:hover {
  color: gray;
}
  
  

ul {
  float: right;
  list-style: none;
}


