// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style-type: none;
}


.alert-server-error {
  //display: none;
}

.col-search-bar, .col-search-btn {
  padding-left: 0px;
}

.highlighted {
  background-color: #7972D8
}


table {
  font-size: 20px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.red {
  color: #CC342D;
}